@media only screen and (max-width : 2500px) {
	.page-wrapper{
		overflow:hidden;
	}
	
}
@media only screen and (max-width : 1199px) {
	.atf-mailchamp-headding h2 {
		font-size:30px;
	}
	.atf-nav .atf-nav-list > li {
		margin-right: 20px;
	}
	.atf-bakary-slider .atf-single-text h1{font-size:40px;}
	

	.atf-hero-area .atf-single-details h2{
		font-size:40px;
	}
	.atf-post-slide .atf-post-bar li{
		margin-right:10px;
	}
	.atf-post-slide .atf-post-title a{
		font-size:18px;
	}
	.home-law .atf-nav .atf-nav-list > li {
		margin-right: 14px ! important;
	}

}
@media only screen and (max-width : 992px) {
	.atf-footer-boottom .atf-nav .atf-nav-list > li > a {
		padding: 0px 0;
		text-transform: capitalize;
	}
	.atf-mailchamp-headding h2 {
		font-size:30px;
	}
	.atf-nav .atf-nav-list > li {
		margin-right: 20px;
	}
	.home-law .atf-nav .atf-nav-list > li {
		margin-right: 14px ! important;
	}
	
	.atf-bakary-slider .atf-single-text h1{font-size:40px;}
	
	
}
@media only screen and (max-width : 991px) {
	.atf-pattern-area::before {
		display: none ! important;
	}
	.atf-hero-img-right {
		margin-top: 20px;
	}
	.atf-slider .pagination.atf-hidden {
		margin-top: 30px;
	}
	.atf-gallery-info{
		padding-bottom: 20px;
		padding-left: 0px; 
		padding-right: 0px;
	}
	#testimonial .pagination.atf-style1 li.slick-active, .pagination.atf-style2 li.slick-active{
		background: var(--thm-color);
	}
	#testimonial .pagination.atf-style1 li, .pagination.atf-style2 li{
		background: var(--thm-white);
	}
	.atf-about-content{
		margin: 12px 0px;
	}
	.atf-mailchamp-headding h2 {
		margin-bottom:40px;
	}
	.atf-pro-about-img img {
		margin-bottom: 40px;
	}
	.atf-gallery-info h2 {
		font-size: 18px;
		line-height: 24px;
	}
	.atf-footer-link{
		margin: 15px 0px;
	}
	.contact{
		margin-bottom:40px;
	}
	.atf-contact-details{
		margin: 15px 0;
	}
	.atf-blog-pagination{
		margin-bottom:40px;
	}
	.atf-single-slide-sm{
		height:1250px;
	}
	.atf-single-slide-sm .atf-hero-img img{
		display:none ! important;
	}

}
@media only screen and (max-width: 767px) {
	.atf-hero-area::after{
		display:none ! important;
	}
	.atf-promo-content h3{
		font-size:30px;
	}
	.atf-blog-area .atf-single-blog img{
		width:100%;
	}
	.form-message{
		padding-bottom:30px;
	}
	.atf-bakary-slider .atf-single-text h1{font-size:25px;}
	.atf-footer-boottom  p{text-align:center;}
	.atf-footer-social-icon{text-align:center;}

}

@media only screen and (max-width: 576px) {
	.atf-mailchamp-headding h2{
		font-size:20px;
		line-height:35px;
	}
	.nav-fill .nav-item{
		font-size: 14px;
	}
	#atf-pro-about .atf-pro-about-content .atf-pro-about-inner h2{
		font-size:22px;
	}
	.comments-area .children {
		padding-left: 0px;
	}
	.comments-area .children .children {
		padding-left: 0px;
	}
	.comment-body{
		margin-left:100px;
	}

}

@media screen and (max-width: 320px){
	.atf-hero-area .atf-single-details h2 {
		font-size: 20px ! important;
		line-height: 35px;
	}
	.atf-single-gallery .atf-gallery-info p{
		font-size:13px;
		margin: 0px 0px;
	}
	.atf-single-gallery .atf-gallery-info h2{
		font-size:18px;
	}
	.atf-gallery-info {
    padding-bottom: 0px;}
	
}